body {
    background-color: slategray;
 }
 
 
 .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
 }
 .cover {
   width: 200px;
   height: 200px;
   background-color: grey;
 }
 .c1{
   background-image: url(../assets/images/cover1.jpg);
   background-size: cover;
 }
 .c2{
   background-image: url(../assets/images/cover2.jpg);
   background-size: cover;
 }
 .c3{
   background-image: url(../assets/images/cover3.jpg);
   background-size: cover;
 }
 .vinyl{
   position: relative;
   margin: auto;
   background-color: black;
   height: 190px;
   width: 190px;
   border-radius: 100%;
   z-index: -1;
 }
 
 
 .detail{
   margin: auto;
   background-color: rgb(218, 183, 107);
   height: 70px;
   width: 70px;
   border-radius: 100%;
 }
 .label{
   margin: auto;
   background-color: rgb(194, 151, 95);
   height: 50px;
   width: 50px;
   border-radius: 100%;
 }
 .hole{
   margin: auto;
   background-color: rgb(241, 241, 241);
   height: 0.5rem;
   width: 0.5rem;
   border-radius: 100%;
 }
 .cover:hover .vinyl{
   transform: translateX(150px);
   transition: transform 1s;
 }
 
 
 
 
 
 
 